{%extends 'LAYOUT.html'%}
{% block title %}Cambiar clave{% endblock %}
{% block content %}
<h1>CAMBIAR CLAVE</h1>
<div>

<h2>Escribe tu contraseña nueva:</h2>

Correo: <input type="password"  id="contraseña_nueva"><br><br>
<input type="checkbox" onclick="myFunction()">Mostrar contraseña

<h2>Repite tu contraseña:</h2>
Contraseña: <input type="password"  id="contraseña_nueva"><br><br>
<input type="checkbox" onclick="myFunction()">Mostrar contraseña

<script>
function myFunction() {
  var x = document.getElementById("contraseña_nueva");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</div>
{% endblock %}