{%extends 'LAYOUT.html'%}
{% block title %}Pronosticos{% endblock %}
{% block content %}
<!-- .text-center simplemente se encarga de centrar todosegun el contenedor-->
<div class="container-fluid text-center">    
    <div class="row content">
        <!--El sistema de cuadrícula de Bootstrap permite hasta 12 columnas en la página.-->
        <!--Si no desea utilizar las 12 columnas individualmente, puede agrupar las columnas para crear columnas más anchas.-->
        <!--.col-sm-2 el numero se usa para especificar cuantas de las 12 columnas quiero usar para este contenedor-->
        <div class="col-sm-2 sidenav">
            <button type="button" class="btn"><span class="glyphicon glyphicon-info-sign"></span>Info</button><hr>
            <button type="button" class="btn"><span class="glyphicon glyphicon-picture"></span>download</button><hr>
            <button type="button" class="btn"><span class="glyphicon glyphicon-print"></span>Print</button>
        </div>

        <!--.col-sm-7 el numero se usa para especificar cuantas de las 12 columnas quiero usar para este contenedor-->
        <!--las columnas de la cuadrícula deben sumar hasta doce por fila. Más que eso, las columnas se apilarán sin importar la ventana gráfica.-->
        <div class="col-sm-7 text-left"> 
            <!--Los encabezados HTML se definen con las etiquetas <h1> a <h6>.-->
            <!--<h1> define el encabezado más importante. <h6> define el encabezado menos importante-->
            <!--los párrafos se definen con la etiqueta <p>-->
            <!--La etiqueta <br> se usa dentro de los parafos para cambiar de renglon-->
            <!--La etiqueta <hr> se usa para dar un espacio entre textos en este caso-->
            <h1>Analisis</h1>
                <p>Los pronósticos se hacen colectando tantos datos como sea posible acerca del estado de la atmósfera<br>
                    (particularmente temperatura, presión atmosférica, vientos, humedad y precipitaciones) y usando <br>
                    conocidos procesos atmosféricos (a través de la meteorología) para determinar los patrones futuros<br>
                    atmosféricos.
                </p>
                <hr>
                <h3>Test</h3>
                <p>se usara bootstrap tres como ejemplo con la posibilidad de cambiarlo en el informe_05 </p>
            <hr>
            <div class="container">
                <h2>Tabla de datos</h2>
                <p>esta tabla esta diseñada mediante html, donde se le implementaron los datos manualmente, pero en su<br> version final sacara los datos de una base de datos</p>
            </div>

            <div class="w6-padding w3-white notranslate">
                <!--La etiqueta <table> define una tabla HTML.-->
                <!--Cada fila de la tabla se define con una etiqueta <tr>. Cada encabezado de tabla se define con una etiqueta <th>. Cada celda / datos de la tabla se define con una etiqueta <td>.-->
                <table class="table table-bordered table-condenced">
                    <thead>
                        <tr>
                            <th>MESES</th>
                            <th>TEMPERATURA MAXIMA</th>
                            <th>#DIAS QUE LLOVIO</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Julio</td>
                            <td>27 grados</td>
                            <td>13 dias</td>
                        </tr>

                        <tr>
                            <td>Agosto</td>
                            <td>26 grados</td>
                            <td>23 dias</td>
                        </tr>
                        
                        <tr>
                            <td>Septiembre</td>
                            <td>24 grados</td>
                            <td>16 dias</td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        </div>
        <!--.col-sm-3 el numero se usa para especificar cuantas de las 12 columnas quiero usar para este contenedor-->
        <div class="col-sm-3 sidenav">
            <div class="well">
                <p>tabla probabilidad</p>
                <!--La etiqueta HTML <img> se utiliza para incrustar una imagen en una página web.-->
                <!--La etiqueta <img> tiene dos atributos obligatorios:
                    src: especifica la ruta a la imagen
                    alt: especifica un texto alternativo para la imagen
                -->
                <!--este seria el ejemplo basico donde habria que reemplazar por los nombres <img src="url" alt="alternatetext">-->
                <img src="torta70.png" alt="grafico_probabilidad.png" width="300" height="300">
            </div>

            <div class="well">
                <p>Informacion Basica</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
